@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  .container {
    @apply tablet:max-w-[1199px] mobile:max-w-[767px];
  }
}

@layer components {
}

@layer utilities {
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #14b8a6;
    --primary-foreground: #fff;

    --secondary: #84cc16;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --error: #fb7185;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --black: #111322;
    --gray-50: #7d7986;
    --gray-40: #a4a1aa;
    --gray-30: #cbc9cf;
    --gray-20: #e5e4e7;
    --gray-200: #eeeeee;
    --gray-10: #f2f2f3;
    --gray-5: #fafafa;
    --white: #ffffff;

    --red-40: #ff4040;
    --red-30: #ff8d72;
    --red-20: #ffaf9b;
    --red-10: #ffcdc1;

    --pink-500: #ec4899;

    --blue-20: #0090ff;
    --blue-10: #cce6ff;

    --green-20: #20a81e;
    --green-10: #d4f7d4;

    --kakao: #feea00;

    --text-01: #171717;
    --text-02: #262626;
    --text-03: #404040;
    --text-04: #9e9e9e;
    --text-05: #a3a3a3;

    --bg-02: #fafaf9;
    --bg-03: #e5e5e5;
    --bg-04: #eefdfa;
    --bg-05: #f7ffe7;
    --bg-06: #fcfaec;

    --dim-80: rgba(0, 0, 0, 0.8);
    --dim-60: rgba(0, 0, 0, 0.6);
    --dim-40: rgba(0, 0, 0, 0.4);

    --primary-press: #2dd4bf;
    --secondary-press: #a3e635;

    --line-01: #d4d4d4;
    --line-02: #e7e5e4;
    --line-03: #ccfbf1;
    --line-04: #d9f99d;
    --line-05: #fef08a;

    --system-success: #38bdf8;
    --system-information: #a78bfa;
    --system-warning: #fb923c;
    --system-error: #fb7185;

    --input-error: #fff1f2;

    --rose-300: #fda4af;
    --tag-orange-100: #ffedd5;
    --tag-orange-500: #f97316;
    --tag-blue-100: #e0f2fe;
    --tag-blue-500: #0ea5e9;
    --tag-pink-100: #fce7f3;
    --tag-pink-500: #ec4899;

    --sky-50: #f0f9ff;
    --sky-200: #bae6fd;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev {
  display: none !important;
}

.my-custom-slider .slick-arrow.slick-next,
.my-custom-slider .slick-arrow.slick-prev {
  display: block !important;
}

.heartRotate {
  transition: transform 0.6s ease-in-out;
  transform: rotateY(180deg);
}

* {
  --rdp-cell-size: 40px; /* Size of the day cells. */
  --rdp-caption-font-size: 18px; /* Font size for the caption labels. */
  --rdp-accent-color: #14b8a6; /* Accent color for the background of selected days. */
  --rdp-background-color: #2dd4bf; /* Background color for the hovered/focused elements. */
}
.rdp {
  margin: 0 !important;
}